# Name: Rupam Das 
# ID: Et21bthcs008 (Sec A)
# DAP Lab Exam

# --------------------------------------------------------------------------------
# Customer Acquisition Analysis
Customer acquisition refers to the process of bringing in new customers or clients for a business.
Customer Acquisition Cost (CAC) Analysis is a critical aspect of business strategy where Data
Science plays a vital role.

What is Customer Acquisition Cost?
CAC refers to the cost a company incurs to acquire a new customer. Understanding and 
optimizing this cost is crucial for sustainable growth and profitability.

# Customer Acquisition Cost Analysis Process
The analysis of Customer Acquisition Cost (CAC) serves as a valuable tool for businesses, allowing them to evaluate the efficiency and effectiveness of their efforts in acquiring customers. This analysis is instrumental in making informed decisions regarding the allocation of resources and the development of marketing strategies, ultimately contributing to the company's growth and profitability.

The following steps can be undertaken for the customer acquisition cost analysis task :

Initiate the process by gathering pertinent data related to customer acquisition expen2. ses. Break down customer acquisition costs into segments to gain insights into the channels or strategies driving customer acquisi3. tion. Identify crucial metrics that will aid in the calculation o4. f CAC. Compute the CAC for each customer acquisition channel or st5. rategy. Conduct an in-depth analysis to discern patterns and optimize the CAC effectively. oexpenses.

In [2]:
# Libraries Import and Dataset import 
import numpy as np
import pandas as pd
import plotly.express as px

In [3]:
df = pd.read_csv('customer_acquisition_cost_dataset.csv')

In [4]:
df

    Customer_ID Marketing_Channel  Marketing_Spend  New_Customers
0      CUST0001   Email Marketing      3489.027844             16
1      CUST0002        Online Ads      1107.865808             33
2      CUST0003      Social Media      2576.081025             44
3      CUST0004        Online Ads      3257.567932             32
4      CUST0005   Email Marketing      1108.408185             13
..          ...               ...              ...            ...
495    CUST0496   Email Marketing      1130.865147             19
496    CUST0497      Social Media      2482.119835             18
497    CUST0498        Online Ads      2773.532344             12
498    CUST0499      Social Media      4802.220679             28
499    CUST0500        Online Ads      4421.800773             40

[500 rows x 4 columns]

# Q.1) Find the shape of the table.

In [5]:
df.shape

(500, 4)

# Q.2) Display the name of the columns.

In [6]:
df.columns

Index(['Customer_ID', 'Marketing_Channel', 'Marketing_Spend', 'New_Customers'], dtype='object')

# Q.3) Display the Info. of the file.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer_ID        500 non-null    object
 1   Marketing_Channel  500 non-null    object
 2   Marketing_Spend    500 non-null    float64
 3   New_Customers      500 non-null    int64
dtypes: float64(1), int64(1), object(2)
memory usage: 15.8+ KB

# Q.4)  Find all Null Values in the dataset. If there is any null value in any column, then fill it with the mean of that column.

In [8]:
df.isnull().sum()

Customer_ID          0
Marketing_Channel    0
Marketing_Spend      0
New_Customers        0
dtype: int64

# Q.4)  Find all Duplicate Values in the dataset. If there is any duplicate value in any column, then fill it with the mean of that column.

In [9]:
df.duplicated().sum()

0

# Q.5) Create a new column cac and find the average customer costs,least expensive costs & the most expensive costs.

In [10]:
df['cac'] = df['Marketing_Spend'] / df['New_Customers']

In [11]:
df.describe()

       Marketing_Spend  New_Customers         cac
count       500.000000     500.000000  500.000000
mean       3094.726549      30.070000  125.189284
std        1136.628605      11.754209   80.280164
min        1010.702890      10.000000   21.616453
25%        2131.835093      19.000000   67.933448
50%        3155.976674      31.000000  101.535848
75%        4027.494116      40.000000  165.633818
max        4999.631314      50.000000  435.487346

In [13]:
# Here we can see that the average customer costs 125 dollars

# The least expensive costs 22 dollars

# The most expensive costs 435 dollars

In [14]:
df

    Customer_ID Marketing_Channel  Marketing_Spend  New_Customers         cac
0      CUST0001   Email Marketing      3489.027844             16  218.064240
1      CUST0002        Online Ads      1107.865808             33   33.571691
2      CUST0003      Social Media      2576.081025             44   58.547296
3      CUST0004        Online Ads      3257.567932             32  101.798998
4      CUST0005   Email Marketing      1108.408185             13   85.262168
..          ...               ...              ...            ...         ...
495    CUST0496   Email Marketing      1130.865147             19   59.519218
496    CUST0497      Social Media      2482.119835             18  137.895546
497    CUST0498        Online Ads      2773.532344             12  231.127695
498    CUST0499      Social Media      4802.220679             28  171.507881
499    CUST0500        Online Ads      4421.800773             40  110.545019

[500 rows x 5 columns]

# Q.6) What are the total Customer Acquisition Costs (CAC) for Email Marketing, Online Ads, Referral, and Social Media, as derived from the DataFrame grouped by marketing channels?

In [15]:
df.groupby('Marketing_Channel').agg({'cac':'sum'})

                            cac
Marketing_Channel
Email Marketing    16481.306045
Online Ads         15877.671960
Referral           15346.198311
Social Media       14889.465778

In [18]:
# The total Customer Acquisition Costs (CAC) for each marketing channel, based on the above table, are as follows:

# For Email Marketing, the CAC is $16,481.31.
# For Online Ads, the CAC is $15,877.67.
# For Referral, the CAC is $15,346.20.
# For Social Media, the CAC is $14,889.47.